.col {
    border: 1px solid white;
    height: 6rem;
}
.container-fluid {
    background: #FDCA6C;
}
.container{
    background: #00B794;
}

.col-12 {
    border: 1px solid white;
    height: 6rem;
}
.col-md-6{
    border: 1px solid white;
    height: 6rem;
}
.col-6{
    border: 1px solid white;
    height: 6rem;
} 
.col-md-4{
    border: 1px solid white;
    height: 6rem;
}

.col-lg {
    border: 1px solid white;
    height: 6rem;
}